<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
</head>
<body>
    <div class="container" id="root">

        <div class="users-left">
            <!------- MY DETAILS----- -->
            <div class="actual-user">
                <div class="user-details">
                    <img src="./img/avatar_io.jpg" alt="">
                    <p class="font16">Vlad Andrei</p>
                </div>
                <div class="icons">
                    <i class="fas fa-circle-notch grey icon"></i>
                    <i class="fas fa-comment-alt grey icon"></i>
                    <i class="fas fa-ellipsis-v grey icon"></i>
                </div>
            </div>
            <!------- NOTIFICATIONS----- -->
            <div class="notifications">
                <div class="bell">
                    <i class="fas fa-bell-slash"></i>
                </div>
                <div class="deny-notify">
                    <p class="font16">Ricevi notifiche di nuovi messaggi</p>
                    <a class="font14" id="notify" href="#">Attiva notifiche desktop</a>
                </div>
            </div>
            <!------- SEARCH----- -->
            <div class="search">
                <div class="search-item">
                    <div>
                        <button type="submit ">
                                <i class="fas fa-search grey"></i>
                        </button>
                    </div>

                    <div>
                        <input type="search" placeholder="Cerca o inizia una nuova chat" >
                    </div>
                </div>
            
            </div>
            <!------- HEADING LEFT----- -->
            <ul class=" heading">
                <li v-for="(contact, index) in contacts" class="contact " @click="selectContact(index)">
                    <!-- CONTACT DETAILS SECTION WITH PICTURE -->
                    <div class="user-details">
                        <img :src="getContactImage(index)" alt="">
                        <div class="contact-chat" >
                            <p class="font16">{{contact.name}}</p>
                            <p class="font14 contact-m grey">{{lastMessage(contact, index)}}</p>
                        </div>
                        <span class="date font12 grey">{{lastMessageDate(contact,index)}}</span> 
                    </div>

                </li>
            </ul>

        </div>
        <div class="chat-right">
            <!------- OPEN CHAT----- -->
            <div class="contact-details">
                <div class="user-details">
                    <img :src="currentImg" alt="">
                    <div class="open-chat">
                        <p class="font16">{{currentChat.name}}</p>
                        <p class="font14 grey">Ultimo messaggio alle {{lastSeen}}</p>
                    </div>
                </div>
                <!------- icons----- -->
                <div class="icons">
                    <i class="fas fa-search grey icon"></i>
                    <i class="fas fa-paperclip grey icon"></i>
                    <i class="fas fa-ellipsis-v grey icon"></i>
                </div>
            </div>

            <div class="messages">
                <div class="message">
                        <p v-for="message in currentChat.messages" :class="{ sent : message.status == 'sent',
                        received : message.status == 'received' }" class="message">{{message.message }}
                        <span class="messageDate font12 grey">{{ message.date }}</span>
                    </p>
                        
                </div>
            </div>
            <!------- WRITE NEW MESSAGE----- -->
            <div class="type">
                <div class="type-icon">
                    <i class="far fa-smile dark-grey"></i>
                </div>
                <input type="text" placeholder="Scrivi un messaggio" v-model="newMessage" @keyUp.enter="addMessage">
                <div class="type-icon">
                    <i class="fas fa-microphone dark-grey"></i>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script type="module" src="./main.js"></script>
</body>
</html>

